nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-flex;
}

nav ul li {
  display: inline-block;
  flex: 1;
}

nav.nav ul {
  background-color: lime;
}

nav.nav ul li.selected,
#main {
  background-color: orange;
}
