<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>羽球</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/liff.js"></script>
    </head>
    <body>
        <div id='nav'></div>
        <div id='main'></div>
        <hr>
        <div id='foot'></div>
    </body>
</html>
